#portal_ajaxsearch {
    float: right;
    position: relative;
    margin-top: 40px;
}

#portal_ajaxsearch .ajaxsearch_result {
    position: absolute;
    display: none;
    left: 0;
    top: 20px;
    background-color: #fff;
    border: 1px #CECECE solid;
}

#portal_ajaxsearch input[type="text"] {
    float: left;
    margin-right: 10px;
}

#portal_ajaxsearch input[type="submit"] {
    float: left;
}

#portal_ajaxsearch ul {
    padding: 5px 15px;
}

#portal_ajaxsearch ul li {
    display: block;
    height: 22px;
    line-height: 22px;
}

.ajaxsearch_result h3 {
    background-color: #EFEFEF;
}

.ajaxsearch_result a {
    font-size: 14px;
    color: #000;
    white-space: nowrap;
}

#portal_ajaxsearch ul li.ver-mais {
    background: transparent url(images/ver-mais-ajax.png) 0px 11px no-repeat;
    padding-left: 7px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    border-bottom: 0px;
}

#portal_ajaxsearch ul li.ver-mais a,
#portal_ajaxsearch div.ver-mais-geral a {
    font-size: 12px;
}

#portal_ajaxsearch ul li.ver-mais a span,
#portal_ajaxsearch div.ver-mais-geral a span {
    font-weight: bold;
}

#portal_ajaxsearch div.ver-mais-geral {
    text-align: center;
    margin: 0 0 15px 0;
}